# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

bin/
pkg/
src/github.com/
src/golang.org/
src/go.opencensus.io/

pkg/darwin_amd64/golang\.org/x/net/

src/debug

src/google\.golang\.org/
src/main/debug
src/main/main

src/cloud\.google\.com/
